<h2><%= @list.name %></h2>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><p><%= bookmark.movie.title %></p></li>
 
    <p><%= link_to "delete", bookmark_path(bookmark),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
  <% end %>
</ul>

<p><%= link_to "add a movie", new_list_bookmark_path(@list) %> </p>

<%= link_to "back", lists_path %>
