<div class="container text-center">
  <h1>Add a bookmark to <%= @bookmark.comment %></h1>
  <div class="d-flex justify-content-center align-items-center">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
