<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
    <div class="navbar">
      <img class="avatar-large "src="https://res.cloudinary.com/dipnvqfev/image/upload/v1668872424/development/gr-stocks-q8P8YoR6erg-unsplash_wzsofc.jpg" alt="">
      <p><%= link_to "add a new list", new_list_path %></p>
    </div>
    <%= yield %>
    </div>
  </body>
</html>
